body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intro {
    display: flex;
    color: white;
    height: 100vh;
    background: url(brown-wooden-armchair-on-brown-wooden-floor-696407.jpg);
    background-size: cover;
}

.typing {
    position: relative;
    margin-left: 10px;
}

.Hello {
    margin-right: 10px;
    padding-right: 10px;

}

.typing::after {
    content: "";
    position: absolute;
    right: -7px;
    width: 1px;
    height: 5%;
    border-right: 5px solid rgb(211, 151, 206);
    animation: blink 0.5s infinite ease;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}